*.egg-info
*.pyc
*.so
.coverage
.eggs
.idea
.mypy_cache
.vscode
/build
/dist
/docs/_build

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store
examples/server/drowsiness_stable/shape_predictor_68_face_landmarks.dat
examples/server/alert.txt
examples/server/drowsiness_stable/my_model1.data-00000-of-00001
examples/server/drowsiness_stable/my_model1.index
examples/server/drowsiness_stable/my_model1.meta
examples/server/drowsiness_stable/my_model2.data-00000-of-00001
examples/server/drowsiness_stable/my_model2.index
examples/server/drowsiness_stable/my_model2.meta
examples/server/drowsiness_stable/my_model3.data-00000-of-00001
examples/server/drowsiness_stable/my_model3.index
examples/server/drowsiness_stable/my_model3.meta
examples/server/drowsiness_stable/my_model4.data-00000-of-00001
examples/server/drowsiness_stable/my_model4.index
examples/server/drowsiness_stable/my_model4.meta
examples/server/drowsiness_stable/my_model5.data-00000-of-00001
examples/server/drowsiness_stable/my_model5.index
examples/server/drowsiness_stable/my_model5.meta
examples/server/drowsiness_stable/accuracy0.npy
examples/server/drowsiness_stable/accuracy0Test.npy
examples/server/drowsiness_stable/accuracy0VTest.npy
examples/server/drowsiness_stable/accuracy1.npy
examples/server/drowsiness_stable/accuracy1Test.npy
examples/server/drowsiness_stable/accuracy1VTest.npy
examples/server/drowsiness_stable/accuracy2.npy
examples/server/drowsiness_stable/accuracy2Test.npy
examples/server/drowsiness_stable/accuracy2VTest.npy
examples/server/drowsiness_stable/accuracy3.npy
examples/server/drowsiness_stable/accuracy3Test.npy
examples/server/drowsiness_stable/accuracy3VTest.npy
examples/server/drowsiness_stable/accuracy4.npy
examples/server/drowsiness_stable/accuracy4Test.npy
examples/server/drowsiness_stable/accuracy4VTest.npy
examples/server/drowsiness_stable/accuracy5.npy
examples/server/drowsiness_stable/accuracy5Test.npy
examples/server/drowsiness_stable/accuracy5VTest.npy
examples/server/drowsiness_stable/accuracy6.npy
examples/server/drowsiness_stable/accuracy6Test.npy
examples/server/drowsiness_stable/accuracy6VTest.npy
examples/server/drowsiness_stable/Blinks_30_1.npy
examples/server/drowsiness_stable/Blinks_30_2.npy
examples/server/drowsiness_stable/Blinks_30_3.npy
examples/server/drowsiness_stable/Blinks_30_4.npy
examples/server/drowsiness_stable/Blinks_30_5.npy
examples/server/drowsiness_stable/Blinks_30_6.npy
examples/server/drowsiness_stable/Blinks_30_7.npy
examples/server/drowsiness_stable/BlinksTest_30_1.npy
examples/server/drowsiness_stable/BlinksTest_30_2.npy
examples/server/drowsiness_stable/BlinksTest_30_3.npy
examples/server/drowsiness_stable/BlinksTest_30_4.npy
examples/server/drowsiness_stable/BlinksTest_30_5.npy
examples/server/drowsiness_stable/BlinksTest_30_6.npy
examples/server/drowsiness_stable/BlinksTest_30_7.npy
examples/server/drowsiness_stable/checkpoint
examples/server/drowsiness_stable/Labels_30_1.npy
examples/server/drowsiness_stable/Labels_30_2.npy
examples/server/drowsiness_stable/Labels_30_3.npy
examples/server/drowsiness_stable/Labels_30_4.npy
examples/server/drowsiness_stable/Labels_30_5.npy
examples/server/drowsiness_stable/Labels_30_6.npy
examples/server/drowsiness_stable/Labels_30_7.npy
examples/server/drowsiness_stable/LabelsTest_30_1.npy
examples/server/drowsiness_stable/LabelsTest_30_2.npy
examples/server/drowsiness_stable/LabelsTest_30_3.npy
examples/server/drowsiness_stable/LabelsTest_30_4.npy
examples/server/drowsiness_stable/LabelsTest_30_5.npy
examples/server/drowsiness_stable/LabelsTest_30_6.npy
examples/server/drowsiness_stable/LabelsTest_30_7.npy
examples/server/drowsiness_stable/loss0.npy
examples/server/drowsiness_stable/loss0Test.npy
examples/server/drowsiness_stable/loss1.npy
examples/server/drowsiness_stable/loss1Test.npy
examples/server/drowsiness_stable/loss2.npy
examples/server/drowsiness_stable/loss2Test.npy
examples/server/drowsiness_stable/loss3.npy
examples/server/drowsiness_stable/loss3Test.npy
examples/server/drowsiness_stable/loss4.npy
examples/server/drowsiness_stable/loss4Test.npy
examples/server/drowsiness_stable/loss5.npy
examples/server/drowsiness_stable/loss5Test.npy
examples/server/drowsiness_stable/loss6.npy
examples/server/drowsiness_stable/loss6Test.npy
examples/server/drowsiness_stable/my_model0.data-00000-of-00001
examples/server/drowsiness_stable/my_model0.index
examples/server/drowsiness_stable/my_model0.meta
examples/server/drowsiness_stable/DoNotProcess/excess_videos/20220102_213354_Trim3_alert.mp4
examples/server/drowsiness_stable/DoNotProcess/excess_videos/20220109_212955_2_Trim1_alert.mp4
examples/server/drowsiness_stable/DoNotProcess/excess_videos/20220109_212955_2_Trim2_alert.mp4
examples/server/drowsiness_stable/DoNotProcess/excess_videos/20220109_215341_Trim1_alert.mp4
examples/server/drowsiness_stable/DoNotProcess/excess_videos/20220109_215341_Trim2_alert.mp4
examples/server/drowsiness_stable/DoNotProcess/excess_videos/20220116_200752_drowsy.mp4
examples/server/drowsiness_stable/DoNotProcess/excess_videos/20220116_201830_drowsy.mp4
examples/server/drowsiness_stable/DoNotProcess/excess_videos/20220119_112419_alert.mp4
examples/server/drowsiness_stable/DoNotProcess/5_20220626_162325_semialert.mp4
examples/server/drowsiness_stable/DoNotProcess/10_20220626_164607_drowsy.mp4
examples/server/drowsiness_stable/Videos/1/0_alert.mp4
examples/server/drowsiness_stable/Videos/1/0_alert.mp4.txt
examples/server/drowsiness_stable/Videos/1/5_20220102_213354_Trim1_semi_alert.mp4
examples/server/drowsiness_stable/Videos/1/5_20220102_213354_Trim1_semi_alert.mp4.txt
examples/server/drowsiness_stable/Videos/1/10_20220116_200752_drowsy_hmmm.mp4
examples/server/drowsiness_stable/Videos/1/10_20220116_200752_drowsy_hmmm.mp4.txt
examples/server/drowsiness_stable/Videos/2/0_20211226_215645_alert.mp4
examples/server/drowsiness_stable/Videos/2/0_20211226_215645_alert.mp4.txt
examples/server/drowsiness_stable/Videos/2/5_20220102_213354_Trim2_semi_alert.mp4
examples/server/drowsiness_stable/Videos/2/5_20220102_213354_Trim2_semi_alert.mp4.txt
examples/server/drowsiness_stable/Videos/2/10_20220116_201830_drowsy.mp4
examples/server/drowsiness_stable/Videos/2/10_20220116_201830_drowsy.mp4.txt
examples/server/drowsiness_stable/Videos/3/0_20220102_211145_alert.mp4
examples/server/drowsiness_stable/Videos/3/0_20220102_211145_alert.mp4.txt
examples/server/drowsiness_stable/Videos/3/5_20220117_153456_semi_alert.mp4
examples/server/drowsiness_stable/Videos/3/5_20220117_153456_semi_alert.mp4.txt
examples/server/drowsiness_stable/Videos/3/10_20220123_134942_drowsy.mp4
examples/server/drowsiness_stable/Videos/3/10_20220123_134942_drowsy.mp4.txt
examples/server/drowsiness_stable/Videos/4/0_20220106_211503_alert.mp4
examples/server/drowsiness_stable/Videos/4/0_20220106_211503_alert.mp4.txt
examples/server/drowsiness_stable/Videos/4/5_20220119_234509_semi_alert.mp4
examples/server/drowsiness_stable/Videos/4/5_20220119_234509_semi_alert.mp4.txt
examples/server/drowsiness_stable/Videos/4/10_20220123_140032_drowsy.mp4
examples/server/drowsiness_stable/Videos/4/10_20220123_140032_drowsy.mp4.txt
examples/server/drowsiness_stable/Videos/5/0_20220113_210728_alert.mp4
examples/server/drowsiness_stable/Videos/5/0_20220113_210728_alert.mp4.txt
examples/server/drowsiness_stable/Videos/5/5_20220203_213501_semi_alert.mp4
examples/server/drowsiness_stable/Videos/5/5_20220203_213501_semi_alert.mp4.txt
examples/server/drowsiness_stable/Videos/5/10_20220125_134923_drowsy.mp4
examples/server/drowsiness_stable/Videos/5/10_20220125_134923_drowsy.mp4.txt
examples/server/drowsiness_stable/Videos/6/0_20220113_212043_alert.mp4
examples/server/drowsiness_stable/Videos/6/0_20220113_212043_alert.mp4.txt
examples/server/drowsiness_stable/Videos/6/5_20220206_205055_semi_alert.mp4
examples/server/drowsiness_stable/Videos/6/5_20220206_205055_semi_alert.mp4.txt
examples/server/drowsiness_stable/Videos/6/10_20220131_095152_drowsy.mp4
examples/server/drowsiness_stable/Videos/6/10_20220131_095152_drowsy.mp4.txt
examples/server/drowsiness_stable/Videos/7/0_20220119_111204_alert.mp4
examples/server/drowsiness_stable/Videos/7/0_20220119_111204_alert.mp4.txt
examples/server/drowsiness_stable/Videos/7/5_20220207_124737_semi_alert.mp4
examples/server/drowsiness_stable/Videos/7/5_20220207_124737_semi_alert.mp4.txt
examples/server/drowsiness_stable/Videos/7/10_20220207_164301_drowsy.mp4
examples/server/drowsiness_stable/Videos/7/10_20220207_164301_drowsy.mp4.txt
examples/server/drowsiness_stable/my_model1.data-00000-of-00001
examples/server/drowsiness_stable/my_model1.index
examples/server/drowsiness_stable/my_model1.meta
examples/server/drowsiness_stable/my_model2.data-00000-of-00001
examples/server/drowsiness_stable/my_model2.index
examples/server/drowsiness_stable/my_model2.meta
examples/server/drowsiness_stable/my_model3.data-00000-of-00001
examples/server/drowsiness_stable/my_model3.index
examples/server/drowsiness_stable/my_model3.meta
examples/server/drowsiness_stable/my_model4.data-00000-of-00001
examples/server/drowsiness_stable/my_model4.index
examples/server/drowsiness_stable/my_model4.meta
examples/server/drowsiness_stable/my_model5.data-00000-of-00001
examples/server/drowsiness_stable/my_model5.index
examples/server/drowsiness_stable/my_model5.meta
examples/server/drowsiness_stable/my_model6.data-00000-of-00001
examples/server/drowsiness_stable/my_model6.index
examples/server/drowsiness_stable/my_model6.meta
examples/server/drowsiness_stable/StartIndices_30_1.npy
examples/server/drowsiness_stable/StartIndices_30_2.npy
examples/server/drowsiness_stable/StartIndices_30_3.npy
examples/server/drowsiness_stable/StartIndices_30_4.npy
examples/server/drowsiness_stable/StartIndices_30_5.npy
examples/server/drowsiness_stable/StartIndices_30_6.npy
examples/server/drowsiness_stable/StartIndices_30_7.npy
examples/server/drowsiness_stable/x0.npy
examples/server/drowsiness_stable/x1.npy
examples/server/drowsiness_stable/x2.npy
examples/server/drowsiness_stable/x3.npy
examples/server/drowsiness_stable/x4.npy
examples/server/drowsiness_stable/x5.npy
examples/server/drowsiness_stable/x6.npy
examples/server/drowsiness_stable/my_model1.data-00000-of-00001
examples/server/drowsiness_stable/my_model1.index
examples/server/drowsiness_stable/my_model1.meta
examples/server/drowsiness_stable/my_model2.data-00000-of-00001
examples/server/drowsiness_stable/my_model2.index
examples/server/drowsiness_stable/my_model2.meta
examples/server/drowsiness_stable/my_model3.data-00000-of-00001
examples/server/drowsiness_stable/my_model3.index
examples/server/drowsiness_stable/my_model3.meta
examples/server/drowsiness_stable/my_model4.data-00000-of-00001
examples/server/drowsiness_stable/my_model4.index
examples/server/drowsiness_stable/my_model4.meta
examples/server/drowsiness_stable/my_model5.data-00000-of-00001
examples/server/drowsiness_stable/my_model5.index
examples/server/drowsiness_stable/my_model5.meta
examples/server/drowsiness_stable/my_model1.data-00000-of-00001
examples/server/drowsiness_stable/my_model1.index
examples/server/drowsiness_stable/my_model1.meta
examples/server/drowsiness_stable/my_model2.data-00000-of-00001
examples/server/drowsiness_stable/my_model2.index
examples/server/drowsiness_stable/my_model2.meta
examples/server/drowsiness_stable/my_model3.data-00000-of-00001
examples/server/drowsiness_stable/my_model3.index
examples/server/drowsiness_stable/my_model3.meta
examples/server/drowsiness_stable/my_model4.data-00000-of-00001
examples/server/drowsiness_stable/my_model4.index
examples/server/drowsiness_stable/my_model4.meta
examples/server/drowsiness_stable/my_model5.data-00000-of-00001
examples/server/drowsiness_stable/my_model5.index
examples/server/drowsiness_stable/my_model5.meta
examples/server/blinks_lag.txt
examples/server/delay.txt