*.egg-info
*.pyc
*.so
.coverage
.eggs
.idea
.mypy_cache
.vscode
/build
/dist
/docs/_build

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store
examples/server/drowsiness_stable/shape_predictor_68_face_landmarks.dat
examples/server/alert.txt